@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #f8c11b;
  --primary-hover: #eeb50a;
  --background-light: #fcfbf8;
  --background-dark: #121212;
  --charcoal: #1c180d;
  --charcoal-muted: #4b5563;
  --card-light: #ffffff;
  --card-dark: #2c2616;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  transition: background-color 0.3s, color 0.3s;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;
}
